.vote
  - if can?(:vote_up, resource) && can?(:vote_down, resource) && can?(:vote_cancel, resource)
    p= link_to "cancel vote",
                    polymorphic_path(resource, action: :vote_cancel),
                    method: :delete,
                    data: { type: :json },
                    class: 'vote-cancel',
                    remote: true
    p= link_to 'Like', polymorphic_path(resource, action: :vote_up),
                        method: :patch,
                        data: { type: :json },
                        class: 'vote-up',
                        remote: true
    .rating
      p= resource.rating
    p= link_to 'Dislike', polymorphic_path(resource, action: :vote_down),
                          method: :patch,
                          data: { type: :json },
                          class: 'vote-down',
                          remote: true
